// 定义字体变量
:root {
    --global-font-family: -apple-system, "system-ui", Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    --global-heading-family: -apple-system, "system-ui", Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    --global-mono-family: "Source Code Pro", Consolas, Monaco, monospace;
  }
  
  // 应用字体
  body {
    font-family: var(--global-font-family);
    font-size: 16px;
    line-height: 1.65;
    -webkit-font-smoothing: antialiased;
}

// 专门为中文设置思源宋体
:lang(zh),
:lang(zh-CN) {
    font-family: "Noto Serif SC", "Source Han Serif", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--global-heading-family);
    font-weight: 600;
}

code, pre {
    font-family: var(--global-mono-family);
}




/* 博客首页标签一行显示 */
.blog-tags {
  display: flex;         /* flex 排列 */
  flex-wrap: nowrap;     /* 不换行 */
  gap: 10px;             /* 标签间距 */
  margin: 10px 0;
}

.blog-tags .tag {
  display: inline-block;
  background-color: #f0f0f0; /* 可自定义背景 */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  white-space: nowrap;   /* 保证标签不换行 */
}
